body {
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcdZI1VXX94sjhQTO74zZtHDayGT00fg8to6eh8-6G2johWZtp8DKoC0jVqGLBjHJ1UuE&usqp=CAU'); */
    background-image: url('../public/image/vjTqAL.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.alert {
    display: none;
}

.form {
    width: 40vw;
    margin-top: 40px;
    background-color: #0c1d24;
    opacity: 0.8;
    color: white;
}

#submit {
    background-color: #010610;
    color: white;
}

#submit:hover {
    background-color: #f0ebd5;
    color: black;
}

small {
    display: none;
    color: #ff6464 !important;
}

label {
    font-weight: bold;
}

.error {
    border: 3px solid #ff6464;
}

.success {
    border: 3px solid green;
}